<div class="container text-center animate__animated animate__fadeIn">
  <h1>Here goes our movies!</h1>
</div>

<hr />

<h2 class="animate__animated animate__fadeIn">LATEST RELEASES</h2>

<app-movie-cards [movies]="latest"></app-movie-cards>

<hr />

<h2 class="animate__animated animate__fadeIn">POPULAR MOVIES</h2>

<app-movie-cards [movies]="populars"></app-movie-cards>

<hr />

<h2 class="animate__animated animate__fadeIn">POPULAR KIDS MOVIES</h2>

<app-movie-cards [movies]="kids"></app-movie-cards>
